.barra {
  background-color: #765827 !important;
  color: white !important;
}
body {
  background-color: #eac696 !important;
}
.kru-bordes {
  border-radius: 10px;
  color: #a94438;
  border: 4px solid !important;
  padding: 2%;
}
.palabras {
  color: black;
}
.inicioSesion {
  background-color: #4f709c !important;
}
.registro {
  background-color: #4f709c !important;
}
.card {
  background-color: #bdfcc9 !important;
  backdrop-filter: blur(3);
  filter: drop-shadow(5px 3px 10px black);
  padding: 0.25rem;

}
.contenedor {
  gap: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}
.btn {
  background-color: #4f709c !important ;

}
img {
  border-radius:0.5rem;
}
